* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: rgb(0, 0, 0);
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    line-height: 2em;
    padding: 2em;
  }

  h1 {font-family: "Press Start 2P";
  }
  
  header {
    position: absolute;
    top: 20px;
    left: 20px;
  }
  
  .mark {
    width: 80px;
    height: auto;
  }
  
  main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
  }
  
  .center-text h1 {
    color: white;
    font-size: 36px;
    margin-bottom: 30px;
  }
  
  .center-text p {
    font-size: 18px;
    color: #ffffff;
  }
  